{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="mb-4">Добро пожаловать в Планировщик Питания! 🥗</h1>
        <p class="lead">Создайте свой идеальный план питания с учетом ваших целей и ограничений.</p>
        
        <div class="mt-5">
            <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg me-3">Начать регистрацию</a>
            <a href="{{ url_for('users') }}" class="btn btn-outline-secondary btn-lg">Посмотреть пользователей</a>
        </div>
    </div>
</div>
{% endblock %}
