{% extends "base.html" %}

{% block content %}
<h2>Зарегистрированные пользователи</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Дата регистрации</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center">Пользователи не найдены</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}" class="btn btn-secondary">На главную</a>
{% endblock %}